.highlight-text {
  color: #86eecb;
}

::selection {
  background: #060606;
  color: #fff;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: #eee;
  border-left: 1px solid black;
}
::-webkit-scrollbar-thumb {
  background: #505050;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
